.square {
    flex: 0 0 calc(33.33% - 40px); /* Set initial width for three squares in a row */
    max-width: 185px; /* Set max-width for three squares in a row */
    aspect-ratio: 1;
    border-radius: 18px;
    background-color: rgb(241, 249, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image__container {
    width: 33.33%; 
    height: 33.33%; 
    object-fit: contain; 
  }
  
  
  .text__container {
    margin-top: 10%;
    padding: 10px; 
    text-align: center;
    color: #2f234f; 
  }
  
  .text__container p {
    margin: 0;
  }

  @media (max-width: 1000px) {
    .square {
      width: 90%;
      max-width: 185px; 
      aspect-ratio: 1;
      border-radius: 18px;
      background-color: rgb(241, 249, 252);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
