.container {
    height: 100%;
    width: 80vw;
    max-width: 2000px;
    min-width: 400px;
}

.skillset__text {
    margin-top: 10%;
    font-size: 55px;
    text-align: center;
    color: #2f234f;
}

.inner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

@media (max-width: 1000px) {
    .container{
        width: 90vw; 
        min-width: 300px;
    }
    .inner__container {
        display: flex;
        flex-direction: column;
        align-items: center;        
        gap: 5%;
    }
  }
