.skills__box {
    display: flex;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill__container {
    flex-wrap: wrap;
    display: flex;
    gap: 17px 2%;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}


@media (max-width: 1000px){
    .skill__container {
        flex-wrap: wrap;
        display: flex;
        gap: 17px 2%;
        align-items: center;
        justify-content: center;
        align-content: space-around;
        flex-direction: column;
    }
}