.skills__box {
    display: flex;
    width: 95%;
    flex-direction: column;
}

.skill__container {
    flex-wrap: wrap;
    display: flex;
    gap: 17px 2%;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}


@media (max-width: 1000px){

    .skills__box {
        display: flex;
        width: 95%;
        flex-direction: column;
        margin-bottom: 8%;
    }

    .skill__container {
        flex-wrap: wrap;
        display: flex;
        gap: 17px 5%;
        align-items: center;
        justify-content: center;
        align-content: space-around;
    }
}