* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #f7fcfc;
}

body {
  overflow: auto;
  height: 100%;
}

.navElements {}

.navElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navElements ul li:not(:last-child) {
  margin-right: 40px;
}

.navElements ul li a {
  font-size: 20px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.navElements ul li a.active {
  color: #574c4c;
  font-weight: 700;
  position: relative;
}

.menu-icon {
  display: none;
}


.navElements ul li a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 1000px) {
  .menu-icon {
    display: flex;
    cursor: pointer;
    justify-content: center;
  }

  .navElements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(229, 243, 247);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navElements.active {
    width: 270px;
  }

  .navElements ul {
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    /* margin-right: unset; */
    margin-top: 22px;
  }
}

.projects__page {
  width: 90vw; 
  min-width: 300px;
  margin-top: 75px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 2000px;

}

.about__page{
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scroll-down {
  bottom: 70px;
  display: flex;
  text-align: center;
  font-size: 20px;
  z-index: 9;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #322E30;
  border-right: 2px solid #322E30;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 3s ease-in-out infinite;
  -moz-animation:    fade_move_down 3s ease-in-out infinite;
  animation:         fade_move_down 3s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


